certifi==2020.12.5
chardet==4.0.0
idna==2.10
importlib-metadata==3.4.0
numpy==1.19.5
py7zr==0.11.3
pycryptodome==3.9.9
PyMouse==1.0
python-sql==1.0.0
requests==2.25.1
soupsieve==1.9.4
texttable==1.6.3
typing-extensions==3.7.4.3
urllib3==1.25.6
zipp==3.4.0
